# systemctl --user enable $(pwd)/slips_psiturk.service
# systemctl --user start slips_psiturk
# systemctl --user daemon-reload
# systemctl --user restart slips_psiturk
# sudo journal -xe

[Unit]
Description=Slips of Action psiturk/flask python app on port 22362

[Install]
# autostart on boot
WantedBy=default.target

[Service]
WorkingDirectory=/opt/ni_tools/tasks/slipstask/
Environment=PORT=22362
Environment=PYTHONPATH=/opt/ni_tools/python/userbase/
Environment=PYTHONUSERBASE=/opt/ni_tools/python/userbase/
ExecStart=/opt/ni_tools/pyenv/shims/python /opt/ni_tools/tasks/slipstask/herokuapp.py
Restart=on-failure
