.fruit { height: 70px;}
.box   {display: inline-block; width: 181px; height: 187px; padding-top: 90px; }
.box.open    {background: url('../images/box_open_sm.gif')}
.box.closed  {background: url('../images/box_closed_sm.gif')}
/*x over devalued*/
.disabled::before {
    content: url('../images/X.png');
    position: absolute;
    opacity: 90%;
    margin-left: -70px;
    margin-top: -77px;
}
.feedback {text-align: center;} /* unnecessary */
.feedback>.score {
   border: solid 2px black; background: yellow;
   position:absolute;
   text-align:center;
   width:70px;
   margin-left:55px;
   margin-top:-10px;
}
