.fruit { height: 70px;}
.box   {display: inline-block; width: 181px; height: 187px; padding-top: 90px; }
.box.open    {background: url('/static/images/box_open_sm.gif')}
.box.closed  {background: url('/static/images/box_closed_sm.gif')}
